.search{
    display: flex;
    margin: 15px;
  }

  .search-input {
    margin:0 auto;
    height: 20px;
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: 2px solid #FF6A3D;
    background-color: #FF6A3D;
    color: #B0FFDD;
  }

  ::placeholder {
    color: #B0FFDD;
  }

